*{
    margin: 0px;
    padding: 0px;
}
header{
    width: 100%;
    background-color:#fff9f4 ;
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
}

.nikelogo{
  width: 130px;
  margin-left: 100px;
}
.nikelogo img{
    width: 130px;
}
.main{
    width:190px;
    margin-right: 300px;

}
.main a{
    color: black;
    text-decoration: none;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
}
.navlinks{
   display: flex;
   margin-left: 110px;
    list-style: none;


}
.navlink li{
    font-weight: 700;
    padding: 0px 25px;
}
.navlinks li a{
    color: black;
    text-decoration: none;
    padding: 17px 36px 0px 0px;
    font-size: 30px;
}