/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap'); */


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* navbarstart */
.bars{
    display: none;
}
header{
    width: 100%;
    background-color:#fff9f4 ;
    display: flex;
    height: 65px;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)
}
@font-face {
    font-family: Roboto;
    src: url("./fonts/Roboto-VariableFont_wdth\,wght.ttf");
}
.nikelogo{
  width: 290px;
  /* margin-right: 0px; */
  /* margin-left: 80px; */
  display: flex;
  position: relative;
  left: 20px;
}
.nikelogo img{
    /* width: 130px; */
    width: 90px;
}
.logocontent{
    margin-top: 6px;
}
.logocontent span{
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: Roboto;
}
#span1{
    color: #ff8367;
}
#span2{
    font-weight: 400;
}

.navlinks{
   display: flex;
   gap: 50px;
   /* margin-left: 500px; */
    list-style: none;
    position: relative;
    left: 180px;
}
.navlinks li a{
    color:rgba(0, 0, 0, .55);
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    font-family:Roboto ;
}
/* navbarend */
/* nikereactstart */
@font-face {
    font-family: Robotocondensed;
    src: url(./fonts/RobotoCondensed-VariableFont_wght.ttf);
} 


.nikereact{
    width: 100%;
    /* height: 660px; */
    display: flex;
    gap: 200px;
    justify-content: space-around;
    background-color: #fff9f4;
    padding-bottom:30px ;
}
.nike{
    width: 50%;
    height: 600px;
}
#nike2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.nike img{
   width: 100%;
    height: 600px;
    margin-left: 100px;
    padding-left: 90px;
}
.nikecontent{
    width: 100%;
    /* height: 400px; */
    /* margin-top: 160px; */
    font-family: roboto;
    /* padding-right: 60px; */
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.nikecontent h1{
    font-weight: 600;
    font-size: 70px;
    /* padding-right:40px ; */
    font-family:"RobotoCondensed";

}
#color{
    color: #ff8367;
}
#seccolor{
        color: #363958;
}
.nikecontent p{
    /* margin-top: 13px; */
    color:rgba(0, 0, 0, .55);
}
.nikecontent button{
    /* margin-top: 21px; */
    border: none;
    outline: none;
    background-color: #3D4FF3;
    color: white;
    padding: 15px;
    border-radius: 5px;
    font-weight: 540;
    font-size: 15px;
    width: 21%;
    /* width: 17%; */
}
/* nikereactend */
/* shoesectionstart */
@font-face {
    font-family:BebasNeue ;
    src: url("./fonts/BebasNeue-Regular.ttf");
}
.shoesection{
    width: 100%;
    background-color: #E5E5E5;
    height: 1390px;   
}
.h2div{
    width: 50%;
    height: 100px;
    /* padding-left: 150px; */
    padding-left: 170px;
}
.h2div h2{
    font-family:BebasNeue ;
    text-transform:uppercase;
     font-size: 48px;
    color: #363958;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: .5rem;
}
#firsth2{
    padding-top: 40px;
}
#sech2{
    padding-top: 40px;
}
.shoe{
    display: flex;
    /* flex-wrap: wrap; */
    width: 98%;
    height: 570px;
    justify-content: center;
    border-radius: 20px;
    padding: 12px;
    column-gap: 19px;

}
.shoebuy{
    width: 25%;
    height: 546px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    border-radius: 25px;
    row-gap: 20px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}
.shoepic{
    height: 350px;
   
}
.shoepic img{
    width: 100%;
    height: 350px;
     background: #F1F1F1;
    border-radius: 12px;
}
.shoecontent{
    /* padding-left: 18px; */
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.shoecontent h4{
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 600;
    color: #363958;
}
.dollor{
  
    /* margin-top: 40px; */
    display: flex;
    gap: 160px;
}
#dollor{
  color: #ff8367 !important;
    /* width: 50%; */
}
.dollor button{
    margin-top: 20px;
   /* margin-left: 90px; */
   /* position: relative;
   top: 20px; */

}
.shoecontent p{
    /* margin-top: 10px; */
    font-family: Roboto;   
}
.shoecontent button{
     border: none;
    outline: none;
    background-color: #3D4FF3;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-weight: 400;
    width: 32%;
}
/* shoesectionend */
/* shoppingstart */
.shopping{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 80px;
    background-color: #E5E5E5;
}
.fit{
    width: 40%;
}
.fit img{
    width: 100%;
    margin-left: 20px;
}
.shoppingcard1{
    display: flex;
    background-color: white;
    padding: 20px 20px;
    justify-content: center;
    gap: 50px;
    align-items: center;
    border-radius: 10px;
}
.shoppingcard1 div{
    width: 20%;
}
.shoppingcard1 div img{
    width: 100%;
}
.shoppingcontent{
  
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: Roboto;
}
#shopcontent{
width: 50%;
}
.shoppingcontent div{
    width: 100%;
}
.shoppingcards{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* shoppingend */
/* subscribestart */
.subscribe{
     background-color: #E5E5E5;
     width: 100%;
     display: flex;
     justify-content: center;
     padding-top: 80px;
     padding-bottom: 20px;

}

.input{
     outline: none;
     border-radius: 20px;
    padding: 12px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    background-color: white;
    width:80%;
    height: 220px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.inputcontent{
    width: 85%;
}
.text{
    /* width: 50%; */
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px 0px 10px 5px;
}
.inputcontent button{
 background-color: #3D4FF3;
    padding: 10px;
    padding-bottom: 12px;
    border: none;
    outline: none;
    color: white;
    position: relative;
    left: 923px;
    bottom: 44.5px;
    width: 10%;
    border-radius: 3px;
    line-height:24px;
    margin-bottom:0.7px;
    margin-left:-1px;
    margin-right:0px;
    margin-top:0px;
    font-size:17px ;
}
.h4div h1{
        text-transform: uppercase;
        color:rgb(54, 57, 88);
      display:block;
      font-family:Roboto;
     font-size: 28px;
     font-weight: 500;
     line-height: 28.8px;
     margin:16px 0px 8px 0px; 
}
.input button:hover{
 background-color: #198754;
 transition: 0.5s;
}
/* footerstart */
.footer{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
     padding: 50px 0px 30px 0px; 
     gap: 20px;
}
#foots{
    display: flex;
    justify-content: center;
}
.description{
    width: 100%;
    /* background-color: #3D4FF3; */
    display: flex;
    justify-content: center;
    padding: 30px 0px;
     gap: 30px;

}
.genre{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.genre ul li{
    color: #212529 !important;
    list-style: none;
    font-size: 18px;
    font-family: Roboto;
    font-weight: 3500;
}
.footer h5{
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 1000;
    color: #363958;
    text-transform: uppercase;
    font-weight: 750;
}
.all{
    display: flex;
    justify-content: center;
}
.all h6{
    font-size: 12px;
    font-weight: 500;
    line-height: 1.2;
    font-family: Roboto;
}
.all h6 span{
    color: #ff8367;
}



/* footerend */




/* media screens */
@media screen and (max-width:480px){ 
    .header{
        width: 100%;
    }
    .navlinks{
      display: none;
    }
    .bardiv{
     border-radius: 3px;
     border: 1px solid rgba(0, 0, 0, .55);
     margin-right: 20px;
    }
    .bars{
        display: block;
        font-size: 30px;
        padding: 3px 5px 3px 5px;
        color: rgba(0, 0, 0, .55);
    }
    .nikelogo{
        margin-right: 200px;
    }
    .logocontent{
        width: 122px;
        font-size: 20px;
        padding-top: 8px;
    }
    .nikelogo img{
        padding-top: 10px;
    }
    .nikereact{
        flex-direction: column;
        gap: 5px;
        padding-bottom: 10px;
    }
    .nike{
        width: 100%;
        height: 500px; 
    }
    .nike img{
         width: 100%;
        height: 500px;
        padding-left: 0px;
        margin-left: 0px;
    }
    #nike2{
        height: 400px;
        width: 100%;

    }
    .nikecontent{
        font-size: 8px;
        justify-content: center;
    margin-left: 30px;
    }
    .nikecontent p{
        font-size: 15px;
    }
    .nikecontent button{
        width: 27%;
    }
    .shoesection{
       height: 3700px;
       display: flex;
       flex-direction: column;
    }
    .shoe{
        flex-direction:column !important;
        height: 1500px;
        gap: 20px;
        margin-top:5px;
       padding-top: 160px;
       padding-left:15px ;
       padding-right:15px ;

    }
    .shoebuy{
       width: 100%;
    }
    .h2div{
        width: 100%;
        padding-left: 0px;
    }
    .h2div h2{
        margin-left: 15px;
        width: 50%;
    }
    #id1{
        margin-top: 150px;
    }
    .dollor button{
        margin-left: 60px;
    }
    .shopping{
        flex-direction: column;

    }
    .shoppingcards{
        padding: 0px 15px;
    }
    .shoppingcard1 p{
        font-size: 15px;
        gap: 30px;
    }
    #shopcontent{
        width: 63%;
    }
    .fit{
        order: -1;
        width: 90%;
    }
    .fit img{
        width: 100%;
        padding-bottom: 20px;
    }
    .input{
        height: 220px;
        width: 90%;
    }
    .input h1{
        font-size: 24px;
    }
    .inputcontent{
        display: flex;
    }
    .inputcontent .text{
        width:100%;
    }
    .inputcontent button{
        position: static;
        left: 0px;
        bottom: 0px;
        width: 25%;
        font-size: 13px;
        padding: 9px;
        padding-bottom: 10px;
    }
    .description{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    .genre{
        width: 50%;
        align-items: center;
    }
    .genre ul li{
        padding-left: 20px;
        justify-content: center;
    }
    .footer{
        padding-top: 30px;
    }
    .footer h6{
        font-size: 20px;
    }
    .genre h5{
    font-size: 25px;
 }
}
@media screen and (min-width:481px) and (max-width:768px){
     .navlinks{
      display: none;
    }
    .bardiv{
     border-radius: 3px;
     border: 1px solid rgba(0, 0, 0, .55);
     margin-right: 80px;
    }
    .bars{
        display: block;
        font-size: 30px;
         padding: 2px;
        padding: 3px 5px 3px 5px;
        margin: 2px;
        color: rgba(0, 0, 0, .55);
    } 
    header{
        width: 100%;
    }
   .nike{
        width: 50%;
        height: 500%;
    }
    .nike img{
        width: 100%;
        padding-left: 50px;
        margin-left: 20px;
        height: 400px;
    }
    #nike2{
        height: 400px;
        width: 100%;
        padding-left: 70px;

    }
    .nikecontent{
        font-size: 8px;
        justify-content: center;
    margin-left: 30px;

    }
    .nikecontent h1{
        font-size: 45px;
    }
    .nikecontent p{
        font-size: 15px;
    }
    .nikecontent button{
        width: 30%;
    }
    .h2div{
        padding-left: 60px;
    }
   
    .shoe{
       height: 600px;
    }
    .shoebuy{
       width: 30%;
       height: 590px;
    }
    .shoebuy p{
        font-size: 13px;
    }
    .dollor{
        gap: 40px;
        height: 95px;
        width: 100%;
    }
    .dollor button{
        width: 50%;
        padding: 0px;
    }
    .shoebtn{
        padding: 0px;
    }
    .shopping{
        padding-top: 60px;
        gap: 15px;
    }
    .shoppingcards{
        padding-right: 5px;
    }
    .shoppingcard1{
        padding-left:3px ;
        padding-right: 2px;
        margin-left: 15px;
    }

    .fit img{
        width: 100%;
    margin-left: 0px;
    }
    .inputcontent{
        display: flex;
    }
    .text{
        width: 80%;
    }
    .input button{
        position: static;
        left: 0px;
        bottom: 0px;
        width: 20%;
        padding: 10px;
        font-size:13px ;
    }
} 
@media screen and (min-width:769px) and (max-width:1280px){
    header{
        width: 100%;
    }
    .nikelogo{
         position: relative;
        left: 1px;
    }
    .navlinks{
    position: relative;
    left: 20px;
        gap: 30px;

    }
    .navlinks a{
        font-size: 5px;
    }
    .nikereact{
        gap: 30px;
    
    }
    .nike{
        width:50% ;
        height: 500px;
    }
    .nikecontent h1{
        font-size:50px ;
    }
    .nikecontent button{
        width: 35%;
    }
    .nike img{
        padding-left: 60px;
        margin-left: 0px;
        width: 100%;
        height: 450px;
        
    }
    .shoebuy{
        width: 30.33%;
    }
    .shoebuy p{
        font-size: 13px;
    }
    .dollor{
        width: 300px;
    }
    .dollor button{
      margin-top: 0px;
     position: static;
     right: 95px;
      gap: 0px;
      width: 100%;
      padding: 4px;
      font-size: 11px;
       margin-left: 0px;
       margin-top: 0px;
    }
    .h2div{
        padding-left: 50px;
    }
    .inputcontent{
        display: flex;
    }
    .inputcontent button{
    position: static;
    bottom: 0px;
    left: 0px;
    border-radius: 5px;
    width: 20%;
    }
    .text{
        width: 80%;
    }
}
