*{
    margin: 0px;
    padding: 0px;
}
header{
    width: 100%;
    background-color:#fff9f4 ;
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)
}
@font-face {
    font-family: Roboto;
    src: url("./fonts/Roboto-VariableFont_wdth\,wght.ttf");
}


.nikelogo{
  width: 290px;
  margin-left: 100px;
  
  display: flex;
}
.nikelogo img{
    width: 130px;
}
.main{
    margin-top: 15px;
}
.main span{
    font-size: 27px;
    text-transform: uppercase;
    font-weight: 100;
    font-family: Roboto;
}
#span1{
    color: #ff8367;
}

.navlinks{
   display: flex;
   margin-left: 110px;
    list-style: none;


}
.navlink li{
    font-weight: 700;
    padding: 0px 25px;
}
.navlinks li a{
    color: black;
    text-decoration: none;
    padding: 17px 36px 0px 0px;
    font-size: 30px;
}